# 中国科学技术大学
[source.tuna]
registry = "https://mirrors.tuna.tsinghua.edu.cn/git/crates.io-index.git"
# 清华大学
[source.ustc]
registry = "http://mirrors.ustc.edu.cn/crates.io-index"
# rustcc社区
[source.rustcc]
registry = "https://code.aliyun.com/rustcc/crates.io-index.git"
# 上海交大
[source.sjtu]
registry = "https://mirrors.sjtug.sjtu.edu.cn/git/crates.io-index/"

[source.crates-io]
registry ="https://github.com/rust-lang/crates.io-index"
# 指定镜像
replace-with = 'ustc'

[net]
retry = 2                   # 网络重试次数
git-fetch-with-cli = false   # 命令来执行 git 操作
offline = false # 不能访问网络

[target.x86_64-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]

[target.x86_64-unknown-linux-musl]
linker = "rust-lld"